@import '__variables';
$primaire: #9356DC;
$secondaire: #FF79DA;
$fondwhite:#FFFF;



.button {
 display: flex;
justify-content: center;
} 
.search {
  width:186px;
  height:50px;
  display: block;
  justify-content: center;
  align-items: center;
  background-color: #686868;
  color:$fondwhite;
  background-image: linear-gradient(0deg, $primaire, $secondaire);
  padding: 0px 24px;
  border-radius: 100px;
  cursor: pointer;
  filter: brightness(1);
}
.search:hover {
  transition-duration: 0.25s;
  filter: brightness(1.75);
  box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.25);
}

.phrase{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size:15px;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  color:$fondwhite;
}