@import '__variables';

$primaire: #9356DC;
$secondaire: #FF79DA;
$fondwhite:#FFFF;

.search {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  background-color: #686868;
  color: #fff;
  background-image: linear-gradient(0deg, #9356DC, #FF79DA);
  padding: 0px 24px;
  border-radius: 100px;
  cursor: pointer;
  filter: brightness(1);
}
.search:hover {
  transition-duration: 0.25s;
  filter: brightness(1.75);
  box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.25);
}

.button {
  display: flex;
  justify-content: center;
 
}
.phrase{
  font-family: 'fontstack',sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}