@import '__variables';
    /* Use the text as a mask for the background. */
/* This will show the gradient as a text color rather than element bg. */

.coeur1 {
  position: absolute;
  justify-content: center;
  align-items: center;
  padding-right: 15px;
  padding-top: 20px;
}
.coeur2 {
  z-index: 1;
  color: white;
  justify-content: center;
  align-items: center;
  padding-right: 15px;
  padding-top: 20px;
  transition: transform 400ms;
}

.coeur:hover {
  .coeur2 {
      color:$secondaire;
      background: linear-gradient(30deg, $secondaire 10%,$secondaire 25%,$primaire 50%,$primaire 75%,$primaire 100%);
      background-clip: text;
      -webkit-text-fill-color: transparent;
      -moz-background-clip: text;
      -moz-text-fill-color: transparent;
     
  }
  .coeur1 {
      color: transparent;
      transform: scale(1);
      transition: all 400ms;
  }
}


