$primaire:#9356DC;
$secondaire:#FF79DA;
$tertiaire:#99E2D0;
$fondwhite:#ffff;
$fondgris:#F2F2F2;
$foot:#303030;
$lightgray:#ebe8ed;

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
@font-face {
  font-family: 'MyWebFont';
  src: url('WebFont.eot');
  src: url('WebFont.eot?iefix') format('eot'),
    url('WebFont.woff') format('woff'),
    url('WebFont.ttf') format('truetype'),
    url('WebFont.svg#webfont') format('svg');
}
/*general*/

* {
  box-sizing: border-box;
}

.html {
  width: 100%;
  margin: 0px;
  padding: 10%;
}

/*les titres*/

 
h1{
  font-family:'Shrikhand';
  font-weight: bold;
  font-size:24px;
  padding-left: 30px;
  padding-top: 40px;
  padding-bottom:20px;
  font-weight: bold;
  margin-top: 0px;

}
/*entéte ohmyfood et la fleche retour*/

.header-logo{
   display: flex;
   justify-content:space-between;
   align-items:center;
  width:100%;
  height:98px;
  background-color:#FF79DA;
}
.logo{
 display: flex;
 justify-content:center;
 align-items: center;
 width: 100%;
 
}
/*icone fleche retour*/

.fas{
  padding-left: 25px;
  color: black;
}
/* Use the text as a mask for the background. */
/* This will show the gradient as a text color rather than element bg. */

.coeur1 {
  position: absolute;
  justify-content: center;
  align-items: center;
  padding-right: 15px;
  padding-top: 20px;
  border: none;
}

.coeur2 {
  z-index: 1;
  color: white;
  justify-content: center;
  align-items: center;
  padding-right: 15px;
  padding-top: 20px;
  border: none;
  transition-property: transform;
  transition-duration: 0.4s;
}

.coeur:hover .coeur2 {
  color: rgba(255, 121, 218, 1);
  background: linear-gradient(10deg, #FF79DA 0%, #FF79DA 25%, #9356dc 50%, #9356dc 75%, #9356dc);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip:text;
  -moz-text-fill-color: transparent;
  transform: scale(1.15);
}

.coeur:hover .coeur1 {
  color: transparent;
}

.image-menu-1-2-3-4{
  &__group{
    & imput{
      background-size:cover;
      background-position:top;
      width: 100%;
      height:250px;
    }
    }
  }
.image-menu-1 {
  background-image: url(../Assets/Assets/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg);
}
.image-menu-2 {
  background-image: url(../Assets/Assets/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg);

}
.image-menu-3 {
  background-image: url(../Assets/Assets/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg);
}
.image-menu-4 {
  background-image: url(../Assets/Assets/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg);
}

