@import '__variables';

.button {
    display: flex;
    margin-left: 10%;
    font-family:'MyWebFont', sans-serif;
    width: 70%;
    height: 50px;
    color:$fondwhite;
    font-weight: bold;
    align-items: center;
    border-radius: 50px 50px 50px;
    background: linear-gradient($primaire,$secondaire);
    box-shadow: 10px 10px 5px $grey;
    justify-content: center;
    transition: transform 450ms, background-color 300ms;
    &:hover {
    transform: scale(1.13); 
    background:$secondaire;
  }
}