.coeur1 {
  position: absolute;
  justify-content: center;
  align-items: center;
  padding-right: 15px;
  padding-top: 20px;
  border: none;
}

/* Use the text as a mask for the background. */
/* This will show the gradient as a text color rather than element bg. */

.coeur2 {
  z-index: 1;
  color: white;
  justify-content: center;
  align-items: center;
  padding-right: 15px;
  padding-top: 20px;
  border: none;
  transition-property: transform;
  transition-duration: 0.4s;
}

.coeur:hover .coeur2 {
  color: rgba(255, 121, 218, 1);
  background: linear-gradient(10deg, #FF79DA 0%, #FF79DA 25%, #9356dc 50%, #9356dc 75%, #9356dc);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip:text;
  -moz-text-fill-color: transparent;
  transform: scale(1.15);
}

.coeur:hover .coeur1 {
  color: transparent;

}
