@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

/*fonctions haut de page avec la premiere section*/
.root {
  --primary-color: #9356DC;
  --secondary-color: #FF79DA;
  --tertiary-color: #99E2D0;
  ---couleur: #c5e2f8;
  --couleur: #89c8fa;
  --couleur: #d5f0f8;
  --couleur: #c5e2f8;
  --couleur: #fcc0ce;
  ---couleur: #eafbff;
  --couleur: #d5f0f8;
}

* {
  box-sizing: border-box;
}

.html {
  width: 100%;
  margin: 0px;
}
section{
  background-size:100%;
  background-color:#f2F2F2;
  width:100%;
}
h2 {
  font-size: 20px;
  padding-left: 15px;
  margin-top: 50px;
  padding-top:50px;
  font-family: 'Robot', sans-serif; 
}
 h3{
  font-size:16px;
  padding-left:20px;
  font-family: 'Robot', sans-serif;
  margin: 0px 0px;
  margin-top:20%;
  padding-top:10%;
  padding-bottom:20px;
 

}
h4{
  font-size:16px;
  position:absolute;
  padding-right:120px;
  font-family: 'Robot', sans-serif;
  margin: 0px 0px;
  padding-top:20px;
  padding-bottom:50px;
}


body {
  width: 100%;

}

main {
  background-color: white;
 
}                                                                                                                                                                                                     

h1 {
  margin-top: 15px;
  position: relative;
  font-family: Shrikhand;
  margin-bottom: 5px;
}

.desc {
  background-color:#fff;
  width: 100%;
  height:80px;
  padding: 0px;
  border-bottom: 2px solid #f2F2F2;
  border-radius: 0px 0px 12px 12px;
  text-align: center;

}


.localisation {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
  justify-content: center;
  padding-left: 20px;
  font-family: 'Robot' sans-serif;
  font-size: 16px;
  align-items: center;
  gap: 10px;
  background-color: #ebe8ed;
  text-align: center;
  margin: 0px;
  border-top: 2px solid lightgrey;
  padding-bottom: 10px;
  padding-top: 10px;
  font-weight: bold;
}

.header__logo{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: 100%;
  background-color: white;
}

.intro ,.intro__content{
  flex-direction: row;
  width: 100%;
  height: 100%;
  align-items: flex-start;
  margin: auto;
  align-items: center;
  justify-content: center;
  padding-left:10%;
  padding-bottom:20px;
  padding-top:20px;
  font-size:18px;
  font-weight:lighter;
  font-family: 'Robot', sans-serif;
}

.title{
  font-family: 'Roboto'sans-serif;
  font-size:16px;
  font-weight:bold;
  padding-left:10%;
  margin-top:40px;
  display: flex;
}

.button{
  display: flex;
  font-size:16px;
  margin-left:10%;
  position:relative;
  font-family: "Robot", sans-serif;
  border: none;
  width:70%;
  height:50px;
  color:#fff;
  font-weight: bold;
  align-items: center;
  border-radius: 50px 50px 50px;
  background: linear-gradient(#ff79da, #9356dc);
  box-shadow: 10px 10px 5px lightblue;
  justify-content: center;
}

.button:hover {
  font-weight: 800;
  border-width: 5px;
  Background: linear-gradient(white, #FF79DA );
}

.button:hover {
  font-weight: 800px;
  border-width: 100%;
  box-shadow: 0px 0px 10px rgb(56, 54, 54);
}

.btn {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border: none;
  font-size: 16px;
  height:55px;
  margin-bottom:20px;
  background-color:#f2F2F2;
  border-radius: 50px 50px 50px;
  box-shadow: 10px 10px 5px lightblue;
}

.btn:hover {
  font-weight: 800px;
  border-width: 50%;
  background: linear-gradient(#FF79DA,white);
  box-shadow: 0px 0px 20px #bdbaba;
}

.btnrounded {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color:#9356dc;
  height: 25px;
  border-radius: 50%;
  width: 25px;

}

.Accueil {
  display: flex;
  justify-content: center;
  padding-right: 30%;
  font-family: 'Roboto' sans-serif;
  font-size: 16px;
  font-weight: bold;
}

.homepage {
  width: 100%;
  height: 100%;
  padding-bottom: 10%;
  background-color:#f2F2F2;
}

.homepage__title {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding-left: 10%;
  font-size: 16px;
  font-weight: bold;
  font-family: 'Robot', sans-serif;

}

.image-1 {
  background-image: url(../Assets/images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg);
  background-size: cover;
  background-position-x: center;
  background-position-y: bottom;
  object-fit: cover;
  height: 180px;
  width: 100%;
  border-radius: 15px 15px 0 0;
  position: relative;
  cursor: pointer;


}

.new {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Roboto' sans-serif;
  font-size: 1em;
  font-weight: bold;
  width: 100%;
}

span.new {
  background-color:#99E2D0;
  color:#057C5F;
  position: absolute;
  top: 10px;
  right: 15px;
  padding: 7px;
  border-radius: 2px;
  width: 100px;
  height: 30px;
}
