$primaire:#9356DC;
$secondaire:#FF79DA;
$tertiaire:#99E2D0;
$fondwhite:#ffff;
$fondgris:#F2F2F2;
$foot:#303030;
$lightgray:#ebe8ed;


@font-face {
  font-family: 'MyWebFont';
  src: url('WebFont.eot');
  src: url('WebFont.eot?iefix') format('eot'),
    url('WebFont.woff') format('woff'),
    url('WebFont.ttf') format('truetype'),
    url('WebFont.svg#webfont') format('svg');
}

* {
  box-sizing: border-box;
}
 h1{
  font-family:'Shrikhand';
}
.fas{
  padding-left: 20px;
  color: black;
}
.header-logo{
   display: flex;
   justify-content:space-between;
   align-items:center;
   position:absolute;
   width:100%;
  background-color:$tertiaire;
}
.logo{
 display: flex;
 justify-content: center;
 flex-direction: column;
 align-items: center;
 position: relative;
 width: 100%;
 height: 100%;
}