@import '__variables';
@import '__button';
@import '__coeur';
@import '__keyframes';
@import '__boutton';


$primaire: #9356DC;
$secondaire: #FF79DA;
$tertiaire: #99E2D0;
$blues: #3e9cbf;
$foot: #303030;
$secondaire: #FF79DA;
$foot: #303030;
$grey: #d3cfd5;
$fondgris: #F2F2F2;
$fondwhite: #ffff;
$gray: #F6F6F6;
$color: #89c8fa;

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');



.html {
  width: 100%;
  margin: 0px;
  padding: 10%;
}

/*les titres*/
h1 {
  font-family: 'Shrikhand';
  font-weight: bold;
  font-size:24px;
    margin-right:40px;
  padding-top: 40px;
  padding-bottom: 20px;
  font-weight: bold;
  margin-top: 0px;
}

h4 {
  margin-left: 20px;
  margin-bottom: 0px;
  margin-top: 0px;
  font-weight: bold;
  font-family:'Roboto',sans-serif;
  font-size:18px;
  padding-top: 0.4rem;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

h5 {
  font-family:'Roboto', sans-serif;
  font-weight: lighter;
  font-size:16px;
  margin-bottom: 5px;
  padding-left:20px;
}

body {
  margin: 0px;
  font-family: 'Roboto',sans-serif;
  margin-left: 0px;
  margin-right: 0px;
}

p {
  font-family: 'Roboto', sans-serif;
  margin-left: 20px;
  font-weight: lighter;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.ohmyfood {
  padding-top: 30px;
  padding-left: 1rem;
  padding-right: 1rem;
  font-family: 'shrikhand';
  font-size: large;
  padding-bottom: 20px;
}
.entree-1,.entree-2,.entree-3,.entree-4,.plat-1,.plat-2,.plat-3,.dessert-1,.dessert-2,.dessert-3{
  padding-left:20px;
  width:90%;
}
.trait {
  content: "";
  width: 4rem;
  height: 0.15rem;
  background-color:$tertiaire;
  margin-LEFT:20px;
}

span {
  margin-right: 20px;
  font-family:'Roboto', sans-serif;
}

/*------------------------ANIMATION BTN CHECK A ADDAPTER-------------------------------*/
.composition {
  margin-top: 30px;
  width: 90%;
  border: none;
  font-size: 1rem;
  height: 5rem;
  background-color: $fondwhite;
  border-radius: 20px 20px 20px;
  box-shadow: 10px 10px 5px $grey;
}

.assaisonnement {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.text {
  display: flex;
  flex-direction: column;
  align-self: start;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

/*--------------------------exemple------------
/* ANIMATION BTN-CHECK */
/* Before animation */
.composition {
  position: relative;
  overflow: hidden;
  /* After animation */
}

.true {
  border: 0;
  position:absolute;
  top: 0px;
  right: -65px;
  background-color: $tertiaire;
  height: 100%;
  width: 65px;
  border-radius: 0 20px 20px 0;
  cursor: pointer;
}

.check {
  display: flex;
  justify-content: space-between;
  border: 0;
  top: 0px;
  right: -65px;
  height: 100%;
  width: 65px;
  cursor: pointer;
}

.icone {
  border-radius: 20px 20px 20px 20px;
  color: $tertiaire;
  background-color: $fondwhite;
  width: 30px;
  height: 30px;
  margin-top:30px;
  margin-left: 18px;

}

p {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

/*------------------------------------------*/
.price {
  border: 0;
  position: absolute;
  right: 0px;
  font-family: 'Roboto', sans-serif;
  padding-top: 5px;
  margin-right: 10px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  border-radius: 0 20px 20px 0;
  transition-duration: 0.55s;

}

.composition:hover {
  cursor: pointer;

  .price {
    right: 65px;
  }
}



/*-----------------------------------------------*/
.composition .check .icone {
  color:$fondwhite;
  transform: rotate(220deg);
  transition-duration: 0.6s;
}

.composition:hover {
  cursor: pointer;

  .true {
    right: 0px;
  }
}

.composition:hover .check {
  right: 0;
}

.composition:hover .icone {
  transform: rotate(0deg);
}

.composition:hover {
  margin-right: 60px;
}

/*-------------------------------fin-------------------------------------------*/


main {
  background-color: $gray;
  width: 100%;
  height: 100%;
  padding-top: 5px;
  padding-bottom:8%;
}

/*entéte ohmyfood et la fleche retour*/

.header-logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 90px;
  background-color:$fondwhite;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100px;
  margin: 0px;
}

/*icone fleche retour*/

.Go-back{
  color: black;
  margin-bottom: -5px;
  padding-left: 10px;
}



.image-menu-1 {
  background-image: url(../Assets/Assets/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg);
  background-size: cover;
  background-position: top;
  width: 100%;
  height: 300px;
  cursor: pointer;
}

.image-menu-2 {
  background-image: url(../Assets/Assets/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg);
  background-size: cover;
  background-position: top;
  width: 100%;
  height: 300px;
  cursor: pointer;
}

.image-menu-3 {
  background-image: url(../Assets/Assets/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg);
  background-size: cover;
  background-position: top;
  width: 100%;
  height: 300px;
}

.image-menu-4 {
  background-image: url(../Assets/Assets/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg);
  background-size: cover;
  background-position: top;
  width: 100%;
  height: 300px;
  cursor: pointer;
}

.text-position {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card__mot1 {
  padding-left:1em;
  color: black;
  text-decoration: none;
  font-size:20px;
  padding-top: 20px;
  font-family: 'shrikhand', sans-serif;
  cursor: pointer;
}


.footer {
  background-color: $foot;
  color: $fondwhite;
  max-width: 100%;
  height: 220px;
  font-family: 'Roboto', sans-serif;
}

.footer-1 {
  padding-top: 10px;
  padding-left: 1rem;
}

.footer-2 {
  padding-left: 1rem;
  padding-top: 10px;
}

.footer-3 {
  padding-left: 1rem;
  padding-top: 10px;
}

.footer-4 {
  padding-left: 1rem;
  padding-top: 10px;
}

.E-mail {
  color: $fondwhite;
  text-decoration: none;
}


/*---------------------DEFIL----------------------------------*/

.texte-restaurant-bloc-1 {
  display: flex;
  font-family: 'Roboto', sans-serif;
  justify-content: space-between;
  align-items: center;
  border-radius: 35px 35px 0px 0px;
  background-color: $gray;
  margin-top:-50px;
  margin-left: 2px;
}



//***************media-query******/

@media screen and (min-width: 768px) {
  * {
    box-sizing: border-box;
  }
  .coeur1,.coeur2 {
    margin-left: 20px;
  }
  .bloc {
    width: 100%;

  }

  .texte-restaurant-bloc-1 {
    display: flex;
    font-family: 'Roboto', sans-serif;
    justify-content: space-between;
    align-items: center;
    border-radius: 50px 50px 0px 0px;
    background-color: $gray;
    margin-top: -50px;
    background-color: $fondgris;
    width: 80%;
    margin-left: 10%;

  }

  .entree-1,
  .entree-2,
  .entree-3,
  .entree-4,
  .entree-3-2,
  .entree-4-3 {
    animation: appear 1s;
    opacity: 0;
    width: 70%;
    animation-fill-mode: forwards;
    margin-left: 18%;
  }

  .plat-1,
  .plat-2,
  .plat-3 {
    animation: appear 2200ms;
    opacity: 0;
    width: 70%;
    animation-fill-mode: forwards;
    margin-left: 18%;

  }

  .dessert-1,
  .dessert-2,
  .dessert-3 {
    animation: appear 3200ms;
    opacity: 0;
    width: 70%;
    animation-fill-mode: forwards;
    margin-left: 18%;

  }

  h5 {
    margin-left: 20%;
  }

  .trait {
    margin-left: 23%;
  }

  main {
    width: 80%;
    background-color: $fondgris;
    margin-left: 10%;
  }

  .footer {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    height: 100px;
    padding: 0px;
    margin: 0px;
    width: 100%;

  }

  .footer1-2-3-4 {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .texte-restaurant-bloc-1{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .boutton {
    display: flex;
    margin-left: 35%;
    font-family: 'Roboto', sans-serif;
    width: 30%;
    height: 45px;
  }
}

//***************media-query******/

@media screen and (min-width: 1024px) {
  * {
    box-sizing: border-box;
  }
  .texte-restaurant-bloc-1{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .boutton {
    display: flex;
    margin-left: 35%;
    font-family: 'Roboto', sans-serif;
    width: 30%;
    height: 60px;
  }
}
//***************media-query******/

@media screen and (min-width:1439.99px) {
  * {
    box-sizing: border-box;
  }

.card__mot1 {
   
  color: black;
  text-decoration: none;
  font-size: 1em;
  padding-top: 20px;
  font-family: 'shrikhand', sans-serif;
  cursor: pointer;
}
.texte-restaurant-bloc-1{
  display: flex;
  justify-content: center;
  align-items: center;
}
.coeur1 {
  position: absolute;
  justify-content: center;
  align-items: center;
 

}
}