@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

@import '__variables';
@import '__button';
@import '__coeur';

@font-face {
  font-family: 'fontstack';
  src: url('WebFont.eot');
  src: url('WebFont.eot?iefix') format('eot'),
    url('WebFont.woff') format('woff'),
    url('WebFont.ttf') format('truetype'),
    url('WebFont.svg#webfont') format('svg');
}

$primaire: #9356DC;
$secondaire: #FF79DA;
$tertiaire: #99E2D0;
$blues: #3e9cbf;
$foot: #303030;
$secondaire: #FF79DA;
$blues: #3e9cbf;
$foot: #303030;
$grey: #d3cfd5;
$fondgris: #F2F2F2;
$fondwhite: #ffff;
$gray: #F6F6F6;
$font-stack: 'Roboto', sans-serif;

* {
  box-sizing: border-box;
}

.html {
  width: 100%;
  margin: 0px;
  padding: 10%;
}


/*les titres*/
h1 {
  font-family: 'Shrikhand';
  font-weight: bold;
  font-size: 24px;
  padding-left: 30px;
  padding-top: 40px;
  padding-bottom: 20px;
  font-weight: bold;
  margin-top: 0px;
}

h4 {
  margin-left: 20px;
  margin-bottom: 0px;
  margin-top: 0px;
  font-family: 'fontstack', sans-serif;
  padding-top: 0.4rem;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

h5 {
  font-family: 'fontstack', sans-serif;
  font-weight: lighter;
  font-size: 1.5rem;
  margin-bottom: 5px;
}

p {
  font-family: 'fontstack', sans-serif;
  margin-left: 20px;
  font-size: 1rem;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.trait {
  content: "";
  width: 3rem;
  height: 0.15rem;
  background-color: $tertiaire;
  position: absolute;
  margin: 0px;

}

span {
  margin-right: 20px;
  font-family: 'fontstack', sans-serif;
}

/*------------------------ANIMATION BTN CHECK A ADDAPTER-------------------------------*/
.composition {
  margin-top: 30px;
  width: 90%;
  border: none;
  font-size: 1rem;
  height: 4rem;
  background-color: $fondwhite;
  border-radius: 20px 20px 20px;
  box-shadow: 10px 10px 5px $grey;

  &:hover {
    background: $fondgris;
  }
}

.assaisonnement {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.text {
  display: flex;
  flex-direction: column;
  align-self: start;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}




/*--------------------------exemple------------
/* ANIMATION BTN-CHECK */
/* Before animation */
.composition {
  position: relative;
  overflow: hidden;
  /* After animation */
}

.true {
  border: 0;
  position: absolute;
  top: 0px;
  right: -65px;
  background-color: $tertiaire;
  height: 100%;
  width: 65px;
  border-radius: 0 20px 20px 0;
  transition-duration: 0.55s;
 
}
.check{
  display:flex;
  justify-content: space-between;
  border: 0;
  top: 0px;
  right: -65px;
  height: 100%;
  width: 65px;
}

.icone {
  border-radius: 20px 20px 20px 20px;
  color: $tertiaire;
  background-color: $fondwhite;
  width: 30px;
  height: 30px;
  margin-top: 18px;
  margin-left: 18px;
}

/*------------------------------------------*/
.price {
  border: 0;
  position:absolute;
  right: 0px;
  margin-right: 10px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  border-radius: 0 20px 20px 0;
  transition-duration: 0.55s;
  
}
.composition:hover {
  cursor: pointer;

  .price {
    right: 65px;
  }
}


/*-----------------------------------------------*/
.composition .check .icone {
  color: $fondwhite;
  transform: rotate(220deg);
  transition-duration: 0.6s;
}

.composition:hover {
  cursor: pointer;

  .true {
    right: 0px;
  }
}

.composition:hover .check {
  right: 0;
}

.composition:hover .icone {
  transform: rotate(0deg);
}

.composition:hover {
  margin-right: 60px;
}

/*-------------------------------fin-------------------------------------------*/


main {
  background-color: $gray;
  width: 100%;
  height: 100%;
  padding-top: 10px;
  padding-bottom: 20%;
}

/*entéte ohmyfood et la fleche retour*/

.header-logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 98px;
  background-color: $fondwhite;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

/*icone fleche retour*/

.fas {
  color: black;
  padding-left: 20px;
}

.image-menu-1 {
  background-image: url(../Assets/Assets/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg);
  background-size: cover;
  background-position: top;
  width: 100%;
  height: 250px;
  cursor: pointer;
}

.image-menu-2 {
  background-image: url(../Assets/Assets/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg);
  background-size: cover;
  background-position: top;
  width: 100%;
  height: 250px;
  cursor: pointer;
}

.image-menu-3 {
  background-image: url(../Assets/Assets/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg);
  background-size: cover;
  background-position: top;
  width: 100%;
  height: 250px;
}

.image-menu-4 {
  background-image: url(../Assets/Assets/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg);
  background-size: cover;
  background-position: top;
  width: 100%;
  height: 250px;
  cursor: pointer;
}

.text-position {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card__mot1 {
  padding-left: 15px;
  color: black;
  text-decoration: none;
  font-family: 'font-stack', sans-serif;
  cursor: pointer;
}


.footer {
  background-color: $foot;
  color: $fondwhite;
  height: 250px;
  width: 100%;
  font-family: 'fontstack', sans-serif;
}

.footer-1 {
  padding-top: 10px;
  padding-left:1rem;
}

.footer-2 {
  padding-left:1rem;
  padding-top: 10px;
}

.footer-3 {
  padding-left: 1rem;
  padding-top: 10px;
}

.footer-4 {
  padding-left: 1rem;
  padding-top: 10px;
}

.E-mail {
  color: $fondwhite;
  text-decoration: none;
}

.ohmyfood {
  padding-top: 30px;
  padding-left:1rem;
  font-family: 'shrikhand';
  font-size: large;
  padding-bottom: 20px;
}

.boutton {
  display: flex;
  margin-left: 35%;
  font-family: 'fontstack', sans-serif;
  width: 30%;
  height: 50px;
  color: $fondwhite;
  font-weight: bold;
  align-items: center;
  margin-top: 15%;
  border-radius: 50px 50px 50px;
  background: linear-gradient($primaire, $secondaire);
  box-shadow: 10px 10px 5px $grey;
  justify-content: center;
  cursor: pointer;

  &:hover {
    transform: scale(1.13);
    background: $secondaire;
  }
}

/*---------------------DEFIL----------------------------------*/
.entree-1,
.entree-2,
.entree-3,
.entree-3-2 {
  animation: appear 1s;
  opacity: 0;
  width: 100%;
  animation-fill-mode: forwards;

}

.entree-1 {
  animation-delay: 1500ms;
}

.entree-2 {
  animation-delay: 1800ms;
}

.entree-3 {
  animation-delay: 2s;
}

.entree-3-2 {
  animation-delay: 2100ms;
}

.plat-1,
.plat-2,
.plat-3 {
  animation: appear 2200ms;
  opacity: 0;
  width: 100%;
  animation-fill-mode: forwards;
  

}

.plat-1 {
  animation-delay: 2400ms;
}

.plat-2 {
  animation-delay: 2900ms;
}

.plat-3 {
  animation-delay: 3300ms;
}

.dessert-1,
.dessert-2,
.dessert-3 {
  animation: appear 3200ms;
  opacity: 0;
  width: 100%;
  animation-fill-mode: forwards;

}

.dessert-1 {
  animation-delay: 3900ms;
}

.dessert-2 {
  animation-delay: 4500ms;
}

.dessert-3 {
  animation-delay: 4900ms;
}

@keyframes appear {
  0% {
    transform: translateY(50%);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }

}
.texte-restaurant-bloc-1 {
  display: flex;
  font-family: 'fontstack', sans-serif;
  justify-content: space-between;
  align-items: center;
  border-radius: 50px 50px 0px 0px;
  background-color: $gray;
  margin-top: -50px;

  
 

}
//***************media-query******/

@media screen and (min-width: 768px) {
  * {
    box-sizing: border-box;
  }

  .bloc {
    width: 100%;
  
  }

.texte-restaurant-bloc-1 {
  display: flex;
  font-family: 'fontstack', sans-serif;
  justify-content: space-between;
  align-items: center;
  border-radius: 50px 50px 0px 0px;
  background-color: $gray;
  margin-top: -50px;
  background-color:$fondgris;
  width:80%;
  margin-left: 10%;

}
.entree-1,
.entree-2,
.entree-3,
.entree-4,
.entree-3-2,
.entree-4-3{
  animation: appear 1s;
  opacity: 0;
  width: 70%;
  animation-fill-mode: forwards;
  margin-left:18%;
}

.plat-1,
.plat-2,
.plat-3 {
  animation: appear 2200ms;
  opacity: 0;
  width: 70%;
  animation-fill-mode: forwards;
  margin-left: 18%;

}
.dessert-1,
.dessert-2,
.dessert-3 {
  animation: appear 3200ms;
  opacity: 0;
  width: 70%;
  animation-fill-mode: forwards;
  margin-left: 18%;

}
h5{
  margin-left: 20%;
}
.trait{
  margin-left:20% ;
}
main{
  width:80%;
  background-color:$fondgris;
  margin-left:10% ;
}

.footer {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  height: 100px;
  width: 100%;

}

.footer1-2-3-4 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
}

