@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");
.button {
  display: flex;
  margin-left: 10%;
  font-family: "MyWebFont", sans-serif;
  width: 70%;
  height: 50px;
  color: white;
  font-weight: bold;
  align-items: center;
  border-radius: 50px 50px 50px;
  background: linear-gradient(#9356DC, #FF79DA);
  box-shadow: 10px 10px 5px #d3cfd5;
  justify-content: center;
  transition: transform 450ms, background-color 300ms;
}
.button:hover {
  transform: scale(1.13);
  background: #FF79DA;
}

/* Use the text as a mask for the background. */
/* This will show the gradient as a text color rather than element bg. */
.coeur1 {
  position: absolute;
  justify-content: center;
  align-items: center;
  padding-right: 15px;
  padding-top: 20px;
}

.coeur2 {
  z-index: 1;
  color: white;
  justify-content: center;
  align-items: center;
  padding-right: 15px;
  padding-top: 20px;
  transition: transform 400ms;
}

.coeur:hover .coeur2 {
  color: #FF79DA;
  background: linear-gradient(30deg, #FF79DA 10%, #FF79DA 25%, #9356DC 50%, #9356DC 75%, #9356DC 100%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}
.coeur:hover .coeur1 {
  color: transparent;
  transform: scale(1);
  transition: all 400ms;
}

@font-face {
  font-family: "fontstack";
  src: url("WebFont.eot");
  src: url("WebFont.eot?iefix") format("eot"), url("WebFont.woff") format("woff"), url("WebFont.ttf") format("truetype"), url("WebFont.svg#webfont") format("svg");
}
* {
  box-sizing: border-box;
}

/*loader spinner*/
.animation {
  position: fixed;
  display: grid;
  place-items: center;
  background-color: #99E2D0;
  height: 100vh;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  inset: 0rem;
  z-index: 1;
  opacity: 0, 9;
}

@keyframes dissapears {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
.animation {
  animation: dissapears 200ms;
  animation-fill-mode: forwards;
  transform-origin: top;
  animation-delay: 5s;
}

/******LOADER******************/
.loader {
  width: 40px;
  aspect-ratio: 1;
  background: linear-gradient(45deg, #0065fc 50%, rgba(0, 0, 0, 0) 0), linear-gradient(-45deg, #F1BBBB 50%, rgba(0, 0, 0, 0) 0), linear-gradient(45deg, rgba(0, 0, 0, 0) 50%, #9356DC 0), linear-gradient(-45deg, rgba(0, 0, 0, 0) 50%, #FF00AA 0), #00AAFF;
  background-size: 200% 200%;
  background-repeat: no-repeat;
  animation: l3 2.5s infinite;
}

@keyframes l3 {
  0% {
    background-position: 100% 0, 0 0, 0 100%, 100% 100%;
  }
  15%, 25% {
    background-position: 100% 0, 0 0, 0 100%, 0 0;
  }
  40%, 50% {
    background-position: 100% 0, 0 0, 100% 0, 0 0;
  }
  65%, 75% {
    background-position: 100% 0, 100% 100%, 100% 0, 0 0;
  }
  90%, 100% {
    background-position: 0 100%, 100% 100%, 100% 0, 0 0;
  }
}
/*-----------police d'ecriture--------*/
.Heading {
  font-weight: bold;
  font-family: "font-stack", sans-serif;
  margin: 10px;
}

/*-----------la page-------------------*/
.html {
  width: 100%;
  margin: 0px;
  padding: 0px;
}

body {
  width: 100%;
  height: auto;
}

.card {
  padding-bottom: 80px;
}

main {
  background-color: white;
}

.bloc {
  background-color: #F2F2F2;
  padding-top: 10px;
}

span {
  font-family: "fontstack", sans-serif;
  font-size: 16px;
  font-weight: bold;
}

/*------------titres-----------------*/
h1 {
  font-family: "Shrikhand", cursive;
}

.ohmyfood {
  padding-top: 30px;
  padding-right: 40px;
  font-family: "shrikhand";
  font-size: large;
  padding-bottom: 20px;
}

.Accueil {
  padding-right: 10%;
  font-family: "fontstack", sans-serif;
  font-weight: bold;
}

h2 {
  font-size: 20px;
  padding-left: 30px;
  padding-top: 40px;
  padding-bottom: 40px;
  font-family: "fontstack", sans-serif;
  font-weight: bold;
  margin-top: 0px;
}

h3 {
  font-size: 20px;
  font-weight: bold;
  padding-left: 20px;
  padding-bottom: 20px;
  font-family: "fontstack", sans-serif;
}

h4 {
  font-size: 18px;
  font-family: "font-stack", sans-serif;
  margin-bottom: 0px;
}

p {
  font-family: "fontstack", sans-serif;
  font-size: 1em;
  font-weight: lighter;
  font-style: normal;
  margin-top: 0px;
}

/*------------------logo------------*/
.logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: 100%;
  background-color: white;
}

/*--------------localisation----------*/
.localisation {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background-color: #ebe8ed;
  border-top: 2px solid #ebe8ed;
  padding-bottom: 10px;
  padding-top: 10px;
  font-weight: bold;
}

/*-----------homepage--------------------*/
.homepage {
  padding-bottom: 10%;
  background-color: #F2F2F2;
}

.content {
  font-family: "Roboto", sans-serif;
  padding-left: 30px;
  font-size: 20px;
  font-weight: lighter;
  padding-bottom: 20px;
}

/*---------------section buttons--------------------*/
.btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  border: none;
  font-size: 1rem;
  height: 3rem;
  margin-bottom: 30px;
  background-color: #F2F2F2;
  border-radius: 50px 50px 50px;
  box-shadow: 10px 10px 5px #d3cfd5;
}
.btn:hover {
  transform: scale(1.13);
  background: rgba(255, 121, 218, 0.19);
}

.btnrounded {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: #9356DC;
  height: 25px;
  border-radius: 50%;
  width: 25px;
}

/*---------------------------------------------*/
.Accueil {
  padding-right: 10%;
  font-size: 16px;
  font-family: "fontstack", sans-serif;
  font-weight: bold;
}

/*--------------------cards------------------------*/
.image-1 {
  background-image: url(../Assets/Assets/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg);
  background-size: cover;
  background-position: bottom;
  height: 200px;
  width: 100%;
  border-radius: 15px 15px 0 0;
  position: relative;
  cursor: pointer;
}

span.new {
  background-color: #99E2D0;
  font-family: "fontstack", sans-serif;
  color: forestgreen;
  position: absolute;
  border-radius: 3px;
  top: 15px;
  right: 15px;
  padding: 7px;
  border-radius: 2px;
  width: 5rem;
  height: 2.5rem;
}

.new {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
}

.texte-restaurant-bloc-1, .texte-restaurant-bloc-2, .texte-restaurant-bloc-3, .texte-restaurant-bloc-4 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 0px 0px 20px 20px;
  background-color: white;
  height: 80px;
  width: 100%;
}

.card__mot1, .card__mot2, .card__mot3, .card__mot4 {
  padding-left: 15px;
  color: black;
  font-family: "font-stack", sans-serif;
}

.text-position {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/*----------------------------------------------*/
.image-2 {
  background-image: url(../Assets/Assets/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 200px;
  width: 100%;
  border-radius: 15px 15px 0 0;
  position: relative;
  cursor: pointer;
}

.image-3 {
  background-image: url(../Assets/Assets/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg);
  background-size: cover;
  background-position: bottom;
  height: 200px;
  width: 100%;
  border-radius: 15px 15px 0 0;
  position: relative;
  cursor: pointer;
}

.image-4 {
  background-image: url(../Assets/Assets/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg);
  background-size: cover;
  background-position: bottom;
  height: 200px;
  width: 100%;
  border-radius: 15px 15px 0 0;
  position: relative;
  cursor: pointer;
}

/*--------------------footer--------------------*/
.ohmyfood {
  padding-top: 30px;
  padding-left: 20px;
  font-family: "shrikhand";
  font-size: large;
  padding-bottom: 20px;
}

/*---------------------------check----------------------*/
/*------------------------------------------------------*/
.footer {
  background-color: #303030;
  color: white;
  height: 250px;
  width: 100%;
  font-family: "fontstack", sans-serif;
}

.footer-1 {
  padding-top: 10px;
  padding-left: 20px;
}

.footer-2 {
  padding-left: 20px;
  padding-top: 10px;
}

.footer-3 {
  padding-left: 20px;
  padding-top: 10px;
}

.footer-4 {
  padding-left: 20px;
  padding-top: 10px;
}

.E-mail {
  color: white;
  text-decoration: none;
}

.coeur1 {
  position: absolute;
  justify-content: center;
  align-items: center;
  padding-right: 15px;
  padding-top: 20px;
}

.coeur2 {
  z-index: 1;
  color: white;
  justify-content: center;
  align-items: center;
  padding-right: 15px;
  padding-top: 20px;
}

.coeur:hover .coeur2 {
  color: #FF79DA;
  background: linear-gradient(45deg, #9356DC 0%, #9356DC 25%, #FF79DA 50%, #9356DC 75%, #FF79DA 100%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}
.coeur:hover .coeur1 {
  color: transparent;
}

@media screen and (min-width: 768px) {
  * {
    box-sizing: border-box;
  }
  .bloc {
    width: 100%;
  }
  h2 {
    margin-left: 35%;
  }
  h3 {
    margin-left: 5%;
  }
  p.content {
    margin-left: 25%;
  }
  .button {
    width: 25%;
    margin-left: 35%;
  }
  .btns {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 5%;
    padding-right: 5%;
  }
  .btn {
    width: 30%;
    gap: 10px;
  }
  .cards {
    display: grid;
    grid-template-columns: 500px 500px;
    grid-template-rows: 300px;
    justify-content: center;
    gap: 30px;
  }
  .footer {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    height: 100px;
  }
  .footer1-2-3-4 {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}/*# sourceMappingURL=style.css.map */