@import '__variables';
$primaire:#9356DC;
$secondaire:#FF79DA;
$tertiaire:#99E2D0;
$fondwhite:#ffff;
$fondgris:#F2F2F2;
$foot:#303030;
$lightgray:#ebe8ed;

@font-face {
  font-family: 'MyWebFont';
  src: url('WebFont.eot');
  src: url('WebFont.eot?iefix') format('eot'),
    url('WebFont.woff') format('woff'),
    url('WebFont.ttf') format('truetype'),
    url('WebFont.svg#webfont') format('svg');
}

* {
  box-sizing: border-box;
}

/*-----------police d'ecriture--------*/
.Heading {
  font-weight: bold;
  font-family: 'MyWebFont', sans-serif;
  margin: 10px;
}

/*-----------la page-------------------*/
.html {
  width: 100%;
  margin: 0px;
  padding: 10%;
}

body {
  width: 100%;
  height: auto;
}

.card {
  padding-bottom: 80px;
}

main {
  background-color:$fondwhite;
}

.bloc {
  padding-left:5%;
  background-color:$fondgris;

}
span {
  font-family: 'MyWebFont', sans-serif;
  font-size: 16px;
  font-weight: bold;
}


/*------------titres-----------------*/
h1 {
  font-family: 'Shrikhand';
}

h2 {
  font-size: 20px;
  padding-left: 30px;
  padding-top: 40px;
  padding-bottom: 40px;
  font-family: 'MyWebFont', sans-serif;
  font-weight: bold;
  margin-top: 0px;
}

h3 {
  font-size: 20px;
  padding-left: 20px;
  font-family: 'MyWebFont', sans-serif;
  padding-top: 50px;
  margin-top: 80px;
}

h4 {
  font-size: 18px;
  margin-bottom: 0px;
  font-family: 'MyWebFont', sans-serif;
}

p {
  font-family: 'MyWebFont', sans-serif;
  font-size: 16px;
  font-weight: lighter;
  font-style: normal;
  margin-top: 0px;

}

/*------------------logo------------*/
.logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: 100%;
  background-color:$fondwhite;
}

/*--------------localisation----------*/
.localisation {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background-color:$lightgray;
  border-top: 2px solid $lightgray;
  padding-bottom: 10px;
  padding-top: 10px;
  font-weight: bold;

}

/*-----------homepage--------------------*/
.homepage {
  padding-bottom: 10%;
  background-color:$fondgris;
}

.content {
  font-family: 'MyWebFont', sans-serif;
  padding-left: 30px;
  font-size: 20px;
  font-weight: lighter;
  padding-bottom: 20px;
}

.button {
  display: flex;
  margin-left: 10%;
  font-family: 'MyWebFont', sans-serif;
  width: 70%;
  height: 50px;
  color:$fondwhite;
  font-weight: bold;
  align-items: center;
  border-radius: 50px 50px 50px;
  background: linear-gradient($primaire,$secondaire);
  box-shadow: 10px 10px 5px #d3cfd5;
  justify-content: center;
}
.button:hover {
  background:$secondaire;
}

.intro__text {
  font-family: 'MyWebFont', sans-serif;
}

/*---------------section buttons--------------------*/
.btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border: none;
  font-size: 16px;
  height: 55px;
  margin-bottom: 30px;
  background-color:$fondgris;
  border-radius: 50px 50px 50px;
  box-shadow: 10px 10px 5px #d3cfd5;
}
.btn:hover {
  background:rgba(255, 121, 218, 0.19);
}
.btnrounded {
  display: flex;
  justify-content: center;
  align-items: center;
  color:$fondwhite;
  background-color:$primaire;
  height:25px;
  border-radius: 50%;
  width: 25px;
}

/*---------------------------------------------*/
.Accueil {
  padding-right:30%;
  font-family: 'MyWebFont', sans-serif;
  font-weight: bold;
}

/*--------------------cards------------------------*/
.image-1 {
  background-image: url(../Assets/Assets/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg);
  background-size: cover;
  background-position: bottom;
  height: 200px;
  width: 100%;
  border-radius: 15px 15px 0 0;
  position: relative;
  cursor: pointer;
}

span.new {
  background-color:$tertiaire;
  font-family: 'MyWebFont', sans-serif;
  color: forestgreen;
  position: absolute;
  border-radius: 3px;
  top: 15px;
  right: 15px;
  padding: 7px;
  border-radius: 2px;
  width: 20%;
  height: 30px;
}

.new {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
}
.texte-restaurant-bloc-1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 0px 0px 20px 20px;
  background-color:$fondwhite;
  height: 5%;
  width: 100%;
}

.text-position {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card__mot1 {
  padding-left: 15px;
  color:black;
  font-family: 'MyWebFont', sans-serif;
  cursor: pointer;
}

/* Use the text as a mask for the background. */
/* This will show the gradient as a text color rather than element bg. */

.coeur1 {
  position: absolute;
  justify-content: center;
  align-items: center;
  padding-right: 15px;
  padding-top: 20px;
  border: none;
}


.coeur2 {
  z-index: 1;
  color: white;
  justify-content: center;
  align-items: center;
  padding-right: 15px;
  padding-top: 20px;
  border: none;
  transition-property: transform;
  transition-duration: 0.4s;
}

.coeur:hover .coeur2 {
  background: linear-gradient(10deg, #FF79DA 0%, #FF79DA 25%, #9356dc 50%, #9356dc 75%, #9356dc);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip:text;
  -moz-text-fill-color: transparent;
  transform: scale(1.15);
}

.coeur:hover .coeur1 {
  color: transparent;

}
/*----------------------------------------------*/
.image-2 {
  background-image: url(../Assets/Assets/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 200px;
  width: 100%;
  border-radius: 15px 15px 0 0;
  position: relative;
  cursor: pointer;
}

.image-3 {
  background-image: url(../Assets/Assets/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg);
  background-size: cover;
  background-position: bottom;
  height: 200px;
  width: 100%;
  border-radius: 15px 15px 0 0;
  position: relative;
  cursor: pointer;
}

.image-4 {
  background-image: url(../Assets/Assets/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg);
  background-size: cover;
  background-position: bottom;
  height: 200px;
  width: 100%;
  border-radius: 15px 15px 0 0;
  position: relative;
  cursor: pointer;
}

/*--------------------footer--------------------*/
.ohmyfood {
  padding-top: 30px;
  padding-left: 20px;
  font-family: 'shrikhand';
  font-size: large;
  padding-bottom: 20px;
}

.footer {
  background-color:$foot;
  color:$fondwhite;
  height: 250px;
  width: 100%;
  font-family: 'MyWebFont', sans-serif;

}

.footer-1 {
  padding-top: 10px;
  padding-left: 20px;
}

.footer-2 {
  padding-left: 20px;
  padding-top: 10px;
}

.footer-3 {
  padding-left: 20px;
  padding-top:10px;
}

.footer-4 {
  padding-left: 20px;
  padding-top: 10px;
}

.E-mail {
  color:$fondwhite;
  text-decoration: none;
}


/***************media-query******/
@media screen and (min-width: 800px) {
  * {
    box-sizing: border-box;
  }
  
  h2{
    margin-left:35%;
  }
  h3{
    margin-left:5%;
  }
  p.content{
    margin-left:25% ;
  }

  .button{
    width: 25%;
    margin-left:35% ;
  }
  .btns{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left:5%;
    padding-right: 5%;
  }
  .btn{
    width:30%;
    gap:10px;
  }
  .cards{
    display:grid;
    grid-template-columns:500px 500px;
    grid-template-rows:300px;
    justify-content:center;
    padding-right:5%;
    padding-left: 5%;
    gap:40px;
    
  }
  .texte-restaurant-bloc-1{
    height: 40%;
  }
 .footer{
  display:flex;
  flex-direction: row-reverse;
  align-items: center;
  height: 100px;
  
 }
 .footer1-2-3-4{
  display:flex;
  justify-content: space-between;
  align-items: center;
 }
 .ohmyfood {
  padding-top: 30px;
  padding-right: 40px;
  font-family: 'shrikhand';
  font-size: large;
  padding-bottom: 20px;
}
.Accueil {
  padding-right:10%;
  font-family: 'MyWebFont', sans-serif;
  font-weight: bold;
}
  
} 