@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
@import '__variables';
@import '__button';
@import '__coeur';
@import '__animation';

@font-face {
  font-family: 'fontstack';
  src: url('WebFont.eot');
  src: url('WebFont.eot?iefix') format('eot'),
    url('WebFont.woff') format('woff'),
    url('WebFont.ttf') format('truetype'),
    url('WebFont.svg#webfont') format('svg');
}

$primaire: #9356DC;
$secondaire: #FF79DA;
$tertiaire: #99E2D0;
$blues: #3e9cbf;
$foot: #303030;
$bbleu: #0065fc;
$bbleuclair: #DEEBFF;
$fondgris: #F2F2F2;
$grey: #d3cfd5;
$fondwhite: #ffff;
$foot: #303030;
$lightgray: #ebe8ed;

* {
  box-sizing: border-box;
}

/*----------------------------mobile first-----------------------------*/


.Heading {
  font-weight: lighter;
  font-family: 'font-stack', sans-serif;
  margin: 10px;
}


.html {
  width: 100%;
  margin: 0px;
  padding: 0px;
}

body {
  width: 100%;
  height: auto;
}

.cards {
  padding-bottom: 0px;
  padding-left: 2rem;
  padding-right: 2rem;
}

.card {
  margin-bottom: 3rem;
}

main {
  background-color: $fondwhite;

}

.bloc {
  background-color: $fondgris;
  width: 100%;
  padding-bottom: 20px;
}

span {
  font-family: 'fontstack', sans-serif;
  font-size: 16px;
  font-weight: bold;
}

p.content {
  text-align: center;
}

h1 {
  font-family: 'Shrikhand', cursive;
  font-size: 1.5em;
}

.ohmyfood {
  padding-top: 30px;
  padding-left: 2rem;
  padding-right: 20px;
  font-family: 'shrikhand';
  padding-bottom: 20px;
}

h2 {
  font-size: 1rem;
  padding-top: 40px;
  padding-bottom: 40px;
  font-family: 'fontstack', sans-serif;
  font-weight: bold;
  margin-top: 0px;
  text-align: center;
}


h3 {
  font-size: 1rem;
  font-weight: bold;
  margin-left: 30px;
  padding-top: 20px;
  font-family: 'fontstack', sans-serif;
}

h4 {
  font-size: 1rem;
  font-family: 'fontstack', sans-serif;
  margin-bottom: 0px;

}

p {
  font-family: 'fontstack', sans-serif;
  font-size: 1em;
  font-weight: lighter;
  font-style: normal;
  margin-top: 0px;
}


.Accueil {
  padding-left: 2rem;
  font-size: 12px;
  width: 100%;
  font-family: 'fontstack', sans-serif;
  font-weight: bold;
}


.logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: 100%;
  background-color: $fondwhite;
}


.localisation {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background-color: $lightgray;
  border-top: 2px solid $lightgray;
  padding-bottom: 10px;
  padding-top: 10px;
  font-weight: bold;

}


.homepage {
  padding-bottom: 5%;
  background-color: $fondgris;
}

.content {
  font-family: 'fontstack', sans-serif;
  padding-left: 30px;
  font-size: 1em;
  font-weight: lighter;
  padding-bottom: 20px;
}


.btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-content: center;
  width: 80%;
  border: none;
  margin-left: 2rem;
  font-size: 1rem;
  height: 3.5rem;
  margin-bottom: 30px;
  background-color: $fondgris;
  border-radius: 15px 15px 15px;
  box-shadow: 10px 10px 5px $grey;

  &:hover {
    transform: scale(1.13);
    background: rgba(255, 121, 218, 0.19);
  }
}

.btnrounded {
  display: flex;
  justify-content: center;
  align-items: center;
  color: $fondwhite;
  margin-right: 3rem;
  background-color: $primaire;
  height: 1.5rem;
  border-radius: 100%;
  width: 2em;
}

.image-1 {
  background-image: url(../Assets/Assets/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg);
  background-size: cover;
  background-position: bottom;
  object-fit: cover;
  height: 150px;
  width: 100%;
  border-radius: 15px 15px 0 0;
  position: relative;
  cursor: pointer;
}

span.new {
  background-color: $tertiaire;
  font-family: 'fontstack', sans-serif;
  color: forestgreen;
  position: absolute;
  border-radius: 3px;
  top: 15px;
  right: 15px;
  padding: 7px;
  border-radius: 2px;
  width: 5rem;
  height: 2.5rem;
}

.new {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
}

.texte-restaurant-bloc-1,
.texte-restaurant-bloc-2,
.texte-restaurant-bloc-3,
.texte-restaurant-bloc-4 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 0px 0px 20px 20px;
  background-color: $fondwhite;
  height: 80px;
  width: 100%;

}

.card__mot1,
.card__mot2,
.card__mot3,
.card__mot4 {
  padding-left: 1rem;
  color: black;
  font-family: 'fontstack', sans-serif;

}

.text-position {
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.image-2 {
  background-image: url(../Assets/Assets/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  object-fit: cover;
  height: 150px;
  width: 100%;
  border-radius: 15px 15px 0 0;
  position: relative;
  cursor: pointer;
}

.image-3 {
  background-image: url(../Assets/Assets/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg);
  background-size: cover;
  background-position: bottom;
  height: 150px;
  width: 100%;
  object-fit: cover;
  border-radius: 15px 15px 0 0;
  position: relative;
  cursor: pointer;
}

.image-4 {
  background-image: url(../Assets/Assets/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg);
  background-size: cover;
  background-position: bottom;
  height: 150px;
  width: 100%;
  object-fit: cover;
  border-radius: 15px 15px 0 0;
  position: relative;
  cursor: pointer;
}

.footer {
  background-color: $foot;
  color: $fondwhite;
  height: 250px;
  width: 100%;
  font-family: 'fontstack', sans-serif;

}

.footer-1 {
  padding-top: 10px;
  padding-left: 2rem;
}

.footer-2 {
  padding-left: 2rem;
  padding-top: 10px;
}

.footer-3 {
  padding-left: 2rem;
  padding-top: 10px;
}

.footer-4 {
  padding-left: 2rem;
  padding-top: 10px;
}

.E-mail {
  color: $fondwhite;
  padding-right: 1rem;
  text-decoration: none;
}

.image-2 {
  height: 150px;
  width: 100%;
}

.image-3 {
  height: 150px;
  width: 100%;
}

.image-4 {
  height: 150px;
  width: 100%;
}

/*---------------- bouton responsive------------------*/

@media screen and (min-width: 425px) {
  .button {
    margin-left: 20%;
  }
}

@media screen and (min-width: 600px) {
  .button {
    margin-left: 30%;
  }
}


/*--------------------media-query 768px--------------------------*/

@media screen and (min-width: 768px) {
  .button {
    margin-left: 35%;
  }

  * {
    box-sizing: border-box;
  }

  .homepage {
    background-color: $fondgris;
  }


  h2 {
    padding-left: 20px;
  }

  h3 {
    font-size:20px;
  }

  p.content {
    text-align: center;
    font-size: 1em;
  }

  .btns {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 5%;
    width: 100%;
    padding-bottom: 3rem;
  }

  .btn {
    width: 100%;
    height: 50px;
  }

  .button {
    width: 250px;
    font-size: 16px;
    height: 3rem;
  }


  .image-1,
  .image-2,
  .image-3,
  .image-4 {
    width: 100%;
  }

  .image-1,
  .image-3 {
    margin-left: 0px;
  }

 
  .footer {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    height: 100px;
  }

  .footer1-2-3-4 {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .ohmyfood {
    padding-top: 30px;
    padding-right: 40px;
    font-family: "shrikhand";
    font-size: large;
    padding-bottom: 20px;
  }

  .Accueil {
    padding-left: 0rem;
    font-size: 10px;
    width: 100%;
    font-family: 'fontstack', sans-serif;
    font-weight: bold;
  }

  .texte-restaurant-bloc-1,
  .texte-restaurant-bloc-2,
  .texte-restaurant-bloc-3,
  .texte-restaurant-bloc-4 {
    height:30%;
    width: 100%;
    gap: 50px;
    padding-top:20px;
  }

  .btnrounded {
    display: flex;
    justify-content: center;
    align-items: center;
    color: $fondwhite;
    font-family: 'fontstack', sans-serif;
    margin-right: 1.2rem;
    background-color: $primaire;
    height: 1.5rem;
    border-radius: 100%;
    width: 2.5em;
  }

  .card {
    width: 100%;
    margin: 0px;
  }

  .mobile {
    margin-right: 1.2rem;
  }

  .list {
    margin-right: 1.2rem;
  }

  .store {
    margin-right: 1.2rem;
  }

}

//********media query 1024px**************

@media screen and (min-width:1024px) {
  .button {
    margin-left: 38%;
  }

  * {
    box-sizing: border-box;
  }

  .cards {
    display: grid;
    grid-template-columns: 500px 500px;
    grid-template-rows: 300px;
    justify-content: center;
    gap: 50px;
  }

  .bloc {
    width: 100%;
  }

  .btns {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 6%;
    padding-right: 10%;
    width: 100%;
    padding-bottom: 1rem;
  }

  h3 {
    font-size: 1.5rem;
      padding-left:95px;
  }

  h1 {
    font-family: 'Shrikhand', cursive;
    font-size: 2em;
  }

  .Accueil {
    padding-left: 0rem;
    font-size: 1rem;
    width: 100%;
    font-family: 'fontstack', sans-serif;
    font-weight: bold;
  }

  h2 {
    padding-left: 20px;
    font-size: 2rem;
  }

  h4 {
    font-size: 1em;
    font-family: 'fontstack', sans-serif;
    margin-bottom: 0px;

  }

  p {
    padding-bottom: 20px;
  }

  .image-1,
  .image-2,
  .image-3,
  .image-4 {
    height: 200px;
  }
}