@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

$primaire: #9356DC;
@import '__variables';
@import '__button';
@import '__coeur';
@import '__animation';
$secondaire: #FF79DA;
$tertiaire: #99E2D0;
$blues: #3e9cbf;
$foot: #303030;
$bbleu: #0065fc;
$bbleuclair: #DEEBFF;
$fondgris: #F2F2F2;
$grey: #d3cfd5;
$fondwhite: #ffff;
$foot: #303030;
$lightgray: #ebe8ed;
$gray: #EAEAEA;

* {
  box-sizing: border-box;
}

/*----------------------------mobile first-----------------------------*/
.search {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;

}

p.content {
  font-size: 1em;
}

h2 {
  padding-left: 20px;
}


.Heading {
  font-weight: lighter;
  font-family: 'Roboto', sans-serif;
  padding: 0%;
  margin: 0%;

}

a {
  text-decoration: none;
}

.html {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
}

body {
  margin: 0px;
  margin-left: 0px;
  margin-right: 0px;
}
.phrase{
  font-size: 'Roboto',sans-serif;
  color:$fondwhite;
  font-weight: bolder;
}
.cards {
  padding-bottom: 0px;
  padding-left: 2rem;
  padding-right: 2rem;
}

.card {
  margin-bottom: 3rem;
}

main {
  background-color: $fondwhite;

}

.bloc {
  background-color: $fondgris;
  width: 100%;
  padding-bottom: 20px;
}

span {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: bold;
}

p.content {
  text-align: center;
}


h1 {
  font-family: 'Shrikhand', cursive;
  font-size: 24px;
}

.ohmyfood {
  padding-top: 30px;
  padding-left: 2rem;
  padding-right: 20px;
  font-family: 'shrikhand';
  padding-bottom: 20px;
}

h2 {
  font-size: 1.5rem;
  padding-top: 40px;
  padding-bottom: 40px;
  font-family: 'Roboto', sans-serif;
  font-weight: bolder;
  text-align: center;
}


h3 {
  font-size: 1em;
  font-weight: bold;
  margin-left: 30px;
  padding-top: 20px;
  font-family: 'Roboto', sans-serif;
}

h4 {
  font-size: 1rem;
  font-family: 'Roboto', sans-serif;
  margin-bottom: 0px;
}

p {
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
  font-weight: lighter;
  font-style: normal;
  margin-top: 0px;
}


.Accueil {
  padding-left:1rem;
  font-size:14px;
  width: 100%;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
}

.logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  background-color:$fondwhite;
}

.localisation {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width:100%;
  height: 60px;
  font-family: 'Roboto',sans-serif;
  background-color: $gray;
  border-top: 2px solid $grey;
  padding-bottom: 10px;
  padding-top: 10px;
  font-weight: bold;
  box-shadow: 3px 3px 3px 3px $grey;
}

.homepage {
  padding-bottom: 10%;
  background-color: $fondgris;
}

.content {
  font-family: 'Roboto', sans-serif;
  padding-left: 30px;
  font-size: 1em;
  font-weight: lighter;
  padding-bottom: 20px;
}


.btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-content: center;
  width: 80%;
  border: none;
  margin-left: 2rem;
  font-size: 1rem;
  height: 72.38px;
  margin-bottom: 30px;
  background-color: $fondgris;
  border-radius: 20px 20px 20px 20px;
  box-shadow: 10px 10px 5px $grey;

  &:hover {
    transform: scale(1.13);
    background: rgba(255, 121, 218, 0.19);
  }
}

.btnrounded {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  left: -10px;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  color:$fondwhite;
  background-color: $primaire;
  padding: 1%;
  min-width: 24px;
  min-height: 24px;
}


.image-1 {
  background-image: url(../Assets/Assets/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg);
  background-size: cover;
  background-position: bottom;
  object-fit: cover;
  height: 150px;
  width: 100%;
  border-radius: 15px 15px 0 0;
  position: relative;
  cursor: pointer;
}

span.new {
  background-color: $tertiaire;
  font-family: 'Roboto', sans-serif;
  color: forestgreen;
  position: absolute;
  border-radius: 3px;
  top: 15px;
  right: 15px;
  padding: 7px;
  border-radius: 2px;
  width: 5rem;
  height: 2.5rem;
}

.new {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
}

.texte-restaurant-bloc-1,
.texte-restaurant-bloc-2,
.texte-restaurant-bloc-3,
.texte-restaurant-bloc-4 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Roboto'sans-serif;
  border-radius: 0px 0px 20px 20px;
  background-color: $fondwhite;
  height: 80px;
  width: 100%;

}

.card__mot1,
.card__mot2,
.card__mot3,
.card__mot4 {
  padding-left: 1rem;
  color: black;
  font-family: 'Roboto', sans-serif;

}

.text-position {
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.image-2 {
  background-image: url(../Assets/Assets/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  object-fit: cover;
  height: 150px;
  width: 100%;
  border-radius: 15px 15px 0 0;
  position: relative;
  cursor: pointer;
}

.image-3 {
  background-image: url(../Assets/Assets/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg);
  background-size: cover;
  background-position: bottom;
  height: 150px;
  width: 100%;
  object-fit: cover;
  border-radius: 15px 15px 0 0;
  position: relative;
  cursor: pointer;
}

.image-4 {
  background-image: url(../Assets/Assets/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg);
  background-size: cover;
  background-position: bottom;
  height: 150px;
  width: 100%;
  object-fit: cover;
  border-radius: 15px 15px 0 0;
  position: relative;
  cursor: pointer;
}

.footer {
  background-color: $foot;
  color: $fondwhite;
  height: 250px;
  width: 100%;
  font-family: 'Roboto', sans-serif;

}

.footer-1 {
  padding-top: 10px;
  padding-left: 2rem;
}

.footer-2 {
  padding-left: 2rem;
  padding-top: 10px;
}

.footer-3 {
  padding-left: 2rem;
  padding-top: 10px;
}

.footer-4 {
  padding-left: 2rem;
  padding-top: 10px;
}

.E-mail {
  color: $fondwhite;
  padding-right: 1rem;
  text-decoration: none;
}

.image-2 {
  height: 150px;
  width: 100%;
}

.image-3 {
  height: 150px;
  width: 100%;
}

.image-4 {
  height: 150px;
  width: 100%;
}

/*--------------------media-query 768px--------------------------*/

@media screen and (min-width: 768px) {


  * {
    box-sizing: border-box;
  }

  .homepage {
    background-color: $fondgris;
    width: 100%;
  }

  .bloc {
    width: 100%;

  }

  h2 {
    padding-left: 20px;
  }

  h3 {
    font-size: 20px;
  }

  p.content {
    text-align: center;
    font-size: 1em;
  }

  .btns {
    display: flex;
    padding-right: 20px;
    align-items: center;
    width: 100%;

  }

  .btn {
    width: 100%;
    height: 72.38px;
  }

  .image-1,
  .image-2,
  .image-3,
  .image-4 {
    width: 100%;
  }

  .image-1,
  .image-3 {
    margin-left: 0px;
  }


  .footer {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    height: 100px;
  }

  .footer1-2-3-4 {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .ohmyfood {
    padding-top: 30px;
    padding-right: 40px;
    font-family: "shrikhand";
    font-size: large;
    padding-bottom: 20px;
  }

  .Accueil {
    padding-left: 0rem;
    font-size: 10px;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
  }

  .texte-restaurant-bloc-1,
  .texte-restaurant-bloc-2,
  .texte-restaurant-bloc-3,
  .texte-restaurant-bloc-4 {
    height: 30%;
    width: 100%;
    gap: 50px;
    margin-bottom: 10%;
  }

  .card {
    width: 100%;
    margin: 0px;
  }

  .mobile {
    margin-right: 1.2rem;
  }

  .list {
    margin-right: 1.2rem;
  }

  .store {
    margin-right: 1.2rem;
  }
  .localisation {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width:100%;
  

}
}
//********media query 868px**************

@media screen and (min-width:868px) {

  * {
    box-sizing: border-box;
  }

  .cards {
    display: grid;
    grid-template-columns: 450px 450px;
    grid-template-rows: 300px;
    justify-content: center;
    gap: 50px;
  }

  .bloc {
    width: 100%;
    height: 100%;
    margin: 0px;
  }

  .btns {
    display: flex;
    align-items: center;
    width: 100%;

  }

  h3 {
    font-size: 1.5rem;
    padding-left: 2%;
  }

  h1 {
    font-family: 'Shrikhand', cursive;
    font-size: 2em;
  }

  .Accueil {
    padding-left: 0rem;
    font-size: 0.9em;
    width: 80%;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
  }

  h2 {
    padding-left: 20px;
    font-size: 2rem;
  }

  h4 {
    font-size: 1.5em;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 0px;

  }

  p {
    padding-bottom: 20px;
  }

  .image-1,
  .image-2,
  .image-3,
  .image-4 {
    height: 200px;
  }

  .btn {
    height: 72.38px;
  }
}

//***********media query 1440px****************
@media screen and (min-width:1440px) {

  .cards {
    display: grid;
    grid-template-columns: 600px 600px;
    grid-template-rows: 300px;
    justify-content: center;
    gap: 50px;
  }

  .btn {
    display: flex;
    justify-content: space-between;
    height: 72.38px;
    width: 600px;
    margin-left: 5%;
  }

  h4 {
    font-size: 1.5em;
    font-family: 'Roboto', sans-serif;
    padding-top: 20px;
  }

  p {
    padding-bottom: 20px;
    font-size: 1.5em;
  }
  .Accueil {
    padding-left: 0rem;
    font-family: 'Roboto',sans-serif;
    font-size: 1.5em;
    width: 80%;
  }

 
  h3 {
    font-size: 1.5rem;
    margin-left: 5%;
  }
  .btnrounded {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    left: -10px;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    color:$fondwhite;
    background-color: $primaire;
    padding: 1%;
    min-width: 24px;
    min-height: 24px;
  }
}


//***********media query 1024px****************
@media screen and (min-width:1024px) {
  .localisation {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width:100%;
    height: 80px;
  }
}

