@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");

/*--------pour recentrer------------*/
* {
  box-sizing: border-box;
}
/*-----------police d'ecriture--------*/
.Heading{
  font-family:'Roboto',sans-serif;
  font-weight:bolder;
}
/*-----------la page-------------------*/
.html {
  width: 100%;
  margin: 0px;
}
body {
  width: 100%;
}

main {
  background-color: white;
}

/*------------titres-----------------*/
h1 {
  
  font-family: 'Shrikhand';
  }

h2 {
  font-size:24px;
  padding-left: 15px;
  padding-top:50px;
  font-family: 'Roboto', sans-serif;
}
h3{
  font-size:20px;
  padding-left:20px;
  font-family: 'Robot', sans-serif;
  padding-top:50px;
  margin-top:80px;
}
/*------------------logo------------*/
.logo{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: 100%;
  background-color: white;
}
/*--------------localisation----------*/
.localisation {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background-color: #ebe8ed;
  border-top: 2px solid lightgrey;
  padding-bottom: 10px;
  padding-top: 10px;
  font-weight: bold;
  
}

/*-----------homepage--------------------*/
.homepage {
 
  padding-bottom:10%;
  background-color: white;
}


.content{
  font-family:'Roboto',sans-serif;
  padding-left: 15px;
  font-size:24px;
  
}
.button{
  display: flex;
  margin-left:10%;
  font-family: "Robot", sans-serif;
  width:70%;
  height:50px;
  color:#fff;
  font-weight: bold;
  align-items: center;
  border-radius: 50px 50px 50px;
  background: linear-gradient(#ff79da, #9356dc);
  box-shadow: 10px 10px 5px lightblue;
  justify-content: center;
}
.button:hover {
  
  
  Background: linear-gradient(white, #FF79DA );
}


/*---------------section buttons--------------------*/
.btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border: none;
  font-size: 16px;
  height:55px;
  margin-bottom:20px;
  border-radius: 50px 50px 50px;
  box-shadow: 10px 10px 5px lightblue;
}

.btn:hover {
background: linear-gradient(#FF79DA,white);
  box-shadow: 0px 0px 20px #bdbaba;
}

.btnrounded {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color:#9356dc;
  height: 25px;
  border-radius: 50%;
  width: 25px;
}
/*---------------------------------------------*/
.Accueil {
  
  padding-right: 30%;
  font-family: 'Roboto' sans-serif;
  font-weight: bold;
}
/*----------------coeur----------------------------*/
.coeur1 {
  position: absolute;
  justify-content: center;
  align-items: center;
  padding-right: 15px;
  padding-top: 20px;
}

.coeur2 {
  z-index: 1;
  color: white;
  justify-content: center;
  align-items: center;
  padding-right: 15px;
  padding-top: 20px;
}

.coeur:hover .coeur2 {
  color: #ff7cf8;
}
.coeur:hover .coeur1 {
  color: transparent;
}
/*----------------------------------------------*/




